.container {
    margin: 0 auto;
    padding: 0;
    border-radius: 5px;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 10px 29px rgba(0, 0, 0, 0.1);
}

.form-group {
    
}